html,
body,
#root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-image: url("images/BackGroundImageQuiz.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App .card {
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
}

.header-end{
  position: absolute;
  right: 0;
  top: 0;
}

label.radio {
  display: block;
  text-align: left;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

label.radio+.radio {
  margin-left: 0;
}

label.radio input {
  margin-right: 10px;
}

label.checkbox {
  display: block;
  text-align: left;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

label.checkbox+.checkbox {
  margin-left: 0;
}

label.checkbox input {
  margin-right: 10px;
}

.input-end {
  margin: 10px;
}

.btn{
  padding: 10px;
  margin: 10px 10px 0px;
}

.slider{
  width: 200px;
}

.slider-input{
  width: 110px !important;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

/*.glow-on-hover:active {*/
/*  color: #000*/
/*}*/

/*.glow-on-hover:active:after {*/
/*  background: transparent;*/
/*}*/

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

